<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top shadow">
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
      
      <ul class="navbar-nav mr-auto mx-auto">
          <li><img src="./assets/logo.png" style="width: 150px;" (click)="goToTop()"></li>
          <li class="nav-item active">
              <a class="nav-link" routerLink=".">Page d'accueil<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
              <a class ="nav-link" (click)="goToBottom()">Contact<span class="sr-only">(current)</span></a>
          </li>
      </ul>
      <!-- <form *ngIf="isListeOrdis()" class="form-inline my-2 my-lg-0 mr-2">
          <input class="form-control mr-sm-2" type="text" name="search" [(ngModel)]="this.variableService.recherche" placeholder="Rechercher">
      </form> -->
  </div>
</nav>

<app-buttons></app-buttons>
<app-flecheup></app-flecheup>
<router-outlet></router-outlet>
<footer class="footer fixed-bottom mt-2" id="footer">
  <div class="container-fluid row justify-content-between">
      <div id="contact" class="col-lg-4 text-muted row ml-2">
          Rejoignez-nous sur les réseaux sociaux :
          <div class="inline ml-1 mr-1">
              <a href="#"><i class="fab fa-2x fa-twitter hvr-grow-rotate"></i></a>
          </div>
          <div class="inline ml-1 mr-1">
              <a href="#"><i class="fab fa-2x fa-facebook hvr-grow-rotate"></i></a>
          </div>
          <div class="inline ml-1 mr-1">
              <a href="#"><i class="fab fa-2x fa-linkedin hvr-grow-rotate"></i></a>
          </div>
          <div class="inline ml-1 mr-1">
              <a href="#"><i class="fab fa-2x fa-github hvr-grow-rotate"></i></a>
          </div>
          <svg width="0" height="0">
              <radialGradient id="rg" r="150%" cx="30%" cy="107%">
                <stop stop-color="#fdf497" offset="0" />
                <stop stop-color="#fdf497" offset="0.05" />
                <stop stop-color="#fd5949" offset="0.45" />
                <stop stop-color="#d6249f" offset="0.6" />
                <stop stop-color="#285AEB" offset="0.9" />
              </radialGradient>
          </svg>
          <div class="instagram inline ml-1 mr-1">
              <a href="#"><i class="fab fa-2x fa-instagram hvr-grow-rotate"></i></a>
          </div>
      </div>

      <div class="col-lg-offset-4 col-lg-4 text-right">
          <span class="text-muted">Copyright</span>
          <i class="fas fa-copyright text-muted"></i>
          <a href="mailto:benjamin.nomine@outlook.fr"><i class="fas fa-envelope text-muted" aria-hidden="true"></i><span class="text-muted ml-1">Benjamin Nominé</span></a>
      </div>
  </div>
</footer>
